
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<ul class="" style="list-style-type: none;">
    <li class="p-2 "><h4>DashBoard</h4></li>
    <li class="p-2"><h4>Products</h4></li>
    <li class="p-2"><h4>Customers</h4></li>
    <li class="p-2 active"><h4>Master Pages</h4></li>
</ul>
<style>
    li:hover{
        background-color:grey;
    }
</style>